<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe Home</title>
</head>
<body>
<h1>My recipes</h1>

<table id="recipes" class="table table-striped">
    <thead>
    <tr>
        <th style="width: 150px;">description</th>
        <th style="width: 150px;">prepTime</th>
        <th style="width: 150px;">servings</th>
        <th style="width: 150px;">source</th>
        <th style="width: 150px;">url</th>
        <th style="width: 150px;">directions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe : ${recipes}">
        <td th:text="${recipe.description}">1</td>
        <td th:text="${recipe.prepTime}">Joe</td>
        <td th:text="${recipe.servings}">Buck</td>
        <td th:text="${recipe.source}">Buck</td>
        <td th:text="${recipe.url}">Buck</td>
        <td th:text="${recipe.directions}">Buck</td>
    </tr>
    </tbody>
</table>
</body>
</html>